/*vars*/
:root {
    --some-color: red;
}
/*mobile*/
@media (min-width: 768px) {
    :host([type='cards']) {
        display: grid;
        color: var(--some-color);
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(min-content, max-content);
    }
}
/*desktop*/
@media (min-width: 1024px) {
    :host {
        display: flex;
    }
}